<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hr_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity android:name=".projects.edit.EditProjectActivity"></activity>-->
        <activity android:name=".projects.edit.EditProjectActivity"></activity>
        <activity android:name=".projects.details.DetailsProjectActivity" />
        <activity android:name=".home.hire.HireActivity" />
        <activity android:name=".home.details.DetailsDeveloperActivity" />
        <activity android:name=".util.SharePreferenceActivity" />
        <activity android:name=".profile.WebViewGithub" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".mvvm.RegisterActivity" />
        <activity
            android:name=".mvvm.LoginActivity"
            android:label="Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>